__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
cookie.txt
cookie-safe.txt
config.json
.env
*.log
TAVERN/
.scene_location_memory.json
*.json.bak
grok2api/cookies.txt
glm2api/token.txt
*.png
*.jpg
*.db
*.sqlite
*.sqlite3
singularity/data/*
!singularity/data/*.wasm
singularity/credentials_export*.json
legacy/
.vscode/
*.zip
singularity/static/fonts/*-fontiko/
